default_stages: [pre-commit]
exclude: '^README.md'
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
      - id: terraform_validate
        exclude: '(examples)'
      - id: terraform_trivy
        args:
          - --args=--skip-dirs=**.terraform
          - --args=--skip-dirs=**examples
      - id: terraform_checkov
        args:
          - --args=--quiet
          - --args=--compact
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    - id: black
      language_version: python3.14
