name: Lambda tests
on:
    pull_request:
        paths:
            - lambda-functions/**
            - tests_lambda_functions/**
permissions: read-all
jobs:
  lambda-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install requirements
        run: uv sync --locked
      - name: Run lambda tests
        env:
          AWS_DEFAULT_REGION: eu-west-2
        run: uv run pytest tests_lambda_functions/
